<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users and Groups</title>
    <!-- Connecting Bootstrap Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
         <a href="{% url 'users_list' %}" class="btn btn-outline-primary {% if request.path == '/' %}
            active text-dark{% endif %} text-secondary border-secondary">Users</a>
        <a href="{% url 'groups_list' %}" class="btn btn-outline-primary {% if request.path == '/groups/' %}
        active text-dark{% endif %} text-secondary border-secondary">Groups</a>


        <div class="tab-content" id="myTabContent">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <!-- Connecting the Bootstrap and jQuery libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
    $(document).ready(function() {
        $(".btn.active").addClass("btn-warning");
    });
    </script>

</body>
</html>
